# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE and Editor Cache Files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp


# Private components
arena-vault-92c/
scratch/

